@model IEnumerable<TrainingSystem.Models.User>

@{
    ViewBag.Title = "Training staffs";
}

<h2>List of training staffs</h2>

@if (Session["role"] != null && Session["role"].ToString() == "Administrator")
{
    <a class="btn btn-success" href="/TrainingStaff/Create" role="button"><i class="fas fa-plus"></i> New staff</a>
}

<table class="table table-striped">
    <tr>
        <th>
            Training Staff ID
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.UserID })
                @if (Session["role"] != null && Session["role"].ToString() == "Administrator")
                {
                    <span>|</span>
                    @Html.ActionLink("Edit", "Edit", new { id = item.UserID })
                    <span>|</span>
                    @Html.ActionLink("Delete", "Delete", new { id = item.UserID })
                }
            </td>
        </tr>
    }

</table>
