@model TrainingSystem.Models.Course

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Name</h2>

<div>
    <img class="course-img" src="~/Content/Images/@Model.Image" alt="@Model.Description" />
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Category
        </dt>

        <dd>
            <a href="/Categories/Details/@Model.CategoryID">@Model.Category.Name</a>
        </dd>

    </dl>
    <h4>Topics in this course:</h4>
    <ol>
        @foreach (var topic in Model.Topics)
        {
            <li>@topic.Name</li>
        }
    </ol>
    
</div>
<p>
    @if (Session["role"] != null && Session["role"].ToString() == "TrainingStaff")
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.CourseID }) <span>|</span>
    }
    @Html.ActionLink("Back to List", "Index")
</p>
