@model IEnumerable<TrainingSystem.Models.Course>

@{
    ViewBag.Title = "Courses";
}

<h2>List of courses</h2>
<hr />

@if (Session["role"] != null && Session["role"].ToString() == "TrainingStaff")
{
    <a class="btn btn-success" href="/Courses/Create" role="button"><i class="fas fa-plus"></i> New course</a>
    <hr />
}

<div class="flex-container">

    @foreach (var item in Model)
    {
        <div class="card" style="width: 18rem;">
            <img src="~/Content/Images/@item.Image" class="card-img-top" alt="@item.Name logo">
            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <h6 class="card-subtitle mb-2 text-muted">@item.Category.Name</h6>
                <p class="card-text">@item.Description</p>
                @Html.ActionLink("Details", "Details", new { id = item.CourseID }, new { @class = "btn btn-secondary" })
                @if (Session["role"] != null && Session["role"].ToString() == "TrainingStaff")
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.CourseID }, new { @class = "btn btn-primary" })<span></span>
                    @Html.ActionLink("Delete", "Delete", new { id = item.CourseID }, new { @class = "btn btn-danger" })
                }
            </div>
        </div>
    }
</div>
