@model TrainingSystem.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Trainer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Workplace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Workplace)
        </dd>
    </dl>
    <h4>Assigned topics</h4>
    <ul>
        @foreach (var topic in Model.Topics)
        {
            <li>
                @topic.Name
                @if (Session["role"] != null && Session["role"].ToString() == "TrainingStaff")
                {
                    <span>|</span>
                    <a href="/Trainer/RemoveAssignTopic?trainerID=@Model.UserID&topicID=@topic.TopicID">Remove</a>
                }
            </li>
        }
    </ul>
</div>
<p>
    @if (Session["role"] != null && Session["role"].ToString() == "TrainingStaff")
    {
        @Html.ActionLink("Assign topic", "AssignTopic", new { id = Model.UserID })
        <span>|</span>
    }
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
